@import url(http://fonts.googleapis.com/css?family=Neuton:200)

.module_viewer
  cursor: default
  font-family: 'Neuton', sans-serif
  display: inline-block

  .header
    border-bottom: solid #c0c0c0 0.5px

  h1
    font-size: 20px

  .code
    cursor: text
    display: inline-block
    overflow: hidden
    background: none
    border: none
    font-size: 20px
    margin-top: 15px
    outline: none
    text-underline-mode: solid

  .lhs
    display: inline-block
    width: 150px
    padding: 20px
    vertical-align: top

  .data
    margin-top: 20px
    display: table
    width: 100%

    .label
      font-size: 16px
      display: table-cell
      text-align: left

    .value
      text-align: right
      font-size: 20px
      display: table-cell

  .data-squash
    text-align: right
    margin-left: 20px

  .lecturers
    width: 300px
    display: inline-block

  .rhs
    padding: 20px
    display: inline-block

    width: 600px

    .description
      font-size: 20px

  .low_emphasis
    color: #979797