body {
  width: 800px;
  left: 50%;
  margin-left: -395px;
  position: relative;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: green;
  color: yellow;
  text-transform: lowercase;
  animation: pop 0.2s steps(5, start) infinite; }

@keyframes pop {
  to {
    visibility: hidden; } }
.stat_area {
  width: 100%;
  margin: 0% 2% 0% 2%;
  padding: 2%; }
  .stat_area div {
    display: inline-block; }
  .stat_area div:nth-child(even) {
    color: red; }

#search {
  width: 100%;
  margin: 0px 20px 20px 20px;
  font-size: 20px;
  line-height: 28px; }

.module_viewer {
  cursor: default;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  display: inline-block;
  width: 100%; }
  .module_viewer .header {
    border-bottom: solid #c0c0c0 1px; }
  .module_viewer h1 {
    font-size: 20px; }
  .module_viewer .code {
    cursor: text;
    display: inline-block;
    overflow: hidden;
    background: none;
    border: none;
    font-size: 20px;
    margin-top: 15px;
    outline: none;
    text-transform: uppercase; }
  .module_viewer .lhs {
    display: inline-block;
    width: 21%;
    padding: 2%;
    vertical-align: top; }
  .module_viewer .data {
    margin-top: 20px;
    display: table;
    width: 100%; }
    .module_viewer .data .label {
      font-size: 16px;
      display: table-cell;
      text-align: left; }
    .module_viewer .data .value {
      text-align: right;
      font-size: 20px;
      display: table-cell; }
  .module_viewer .data-squash {
    text-align: right;
    margin-left: 20px; }
  .module_viewer .lecturers {
    width: 300px;
    display: inline-block; }
  .module_viewer .rhs {
    padding: 2%;
    display: inline-block;
    width: 65%; }
    .module_viewer .rhs .description {
      font-size: 20px; }
  .module_viewer .low_emphasis {
    color: purple; }
